<li [ngClass]="{'list-group-item': ( loveIts === 0 ),
                'list-group-item-danger': ( loveIts < 0 ),
                'list-group-item-success': ( loveIts > 0 )
                }">
  <div><h4>{{ title }}</h4><p class="text-right text-secondary">{{ created_at | date: 'short' | uppercase }}</p></div>
  <p>{{ content }}</p>
  <button type="button" class="btn btn-success" (click)="onLoveIts()">Love It!</button>
  <button type="button" class="btn btn-danger" (click)="onDontLoveIts()">Don't Love It!</button>
              </li>
